@media (min-width: 800px){
    
    /* Flex */

    .flex-row{
        display: flex;
        flex-direction: row;
    }

    .flex-column{
        display: flex;
        flex-direction: column;
    }

    .justify-center{
        justify-content: center;
    }

    .justify-start {
        justify-content:flex-start;
    }

    .justify-between{
        justify-content: space-between;
    }

    .justify-around{
        justify-content: space-around;
    }

    .align-center{
        align-items: center;
    }

    .align-start {
        align-items: flex-start;
    }

    /* Gap */

    .gap-16{
        gap: 1rem;
    }

    .gap-24{
        gap: 1.5rem;
    }

    .gap-30{
        gap: 1.88rem;
    }

    .gap-36{
        gap: 2.25rem;
    }

    .gap-50{
        gap: 3.06rem;;
    }

    .gap-180{
        gap: 11.25rem;
    }

    .gap-212{
        gap: 13.31rem;
    }

    /* Margins */

    .m-0{
        margin: 0;
    }

    .mt-75{
        margin-top: 4.69rem;
    }

    .mt-47{
        margin-top: 2.94rem;
    }

    .mt-220{
        margin-top: 13.75rem;
    }

    /* Padding */

    .py-130{
        padding-left: 8.06rem;
        padding-right: 8.06rem;
    }

    .py-270{
        padding-left: 17rem;
        padding-right: 17rem;
    }

    /* Other styles */

    .decoration-none{
        text-decoration: none;
    }

    .burger{
        display: none;
        width: 0;
        height: 0;
    }
}

/* Ipad mini */

@media (max-width: 800px){
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.75rem 2.5rem;
    }

    .burger{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        visibility: visible;
        width: 1.5625rem;
        height: 1.1875rem;
        position: relative;
    }

    .line{
        display: flex;
        width: 1.5625rem;
        height: 0.1875rem;
        flex-shrink: 0;
        background-color: #6C63FF;
    }

    .burger-menu{
        
    }

    .menu, .buttons{
        display: none;
        visibility: hidden;
    } 

    .hero{
        display: flex;
        flex-direction: column;
        gap: 1.88;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-top: 3.47rem;
    }

    .sponsors{
        display: flex;
        justify-content: space-between;
        gap: 2.87rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-top: 6.68rem;
    }

    .examination{
        display: flex;
        flex-direction: column-reverse;
        gap:3.12rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-top: 8.75rem;
    }

    .examination.gap-24{
        gap: 1.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}